<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<!-- breadcrumb -->
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
					Trang chủ
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a>

				<span th:if="${(category != null || brand != null)}" class="stext-109 cl4">
					<a class="stext-109 cl8 hov-cl1 trans-04" href="/products">Tất cả sản phẩm</a>
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</span>

				<span th:if="${(category != null && brand == null)}" class="stext-109 cl4">
					[[${category.name}]]
				</span>

				<span th:if="${(category == null && brand != null)}" class="stext-109 cl4">
					[[${brand.name}]]
				</span>

				<span th:if="${(category == null && brand == null)}" class="stext-109 cl4">
					Tất cả sản phẩm
				</span>

			</div>
		</div>
		<div class="shop">
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<!-- Shop Sidebar -->
						<div class="row shop_sidebar" id="mySidebar">
							<a href="javascript:void(0)" class="col-12 closebtn" onclick="closeNav()">&times;</a>
							<div class="col-lg-12 col-sm-6 sidebar_section">
								<div class="sidebar_title">Có thể tìm kiếm theo</div>
								<div class="sidebar_subtitle categories_subtitle">Danh mục</div>
								<ul class="sidebar_categories">
									<li th:each="c:${categories}">
										<a  th:href="@{|/products-by-category/page/1?cid=${c.id}|}">[[${c.name}]]</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-12 col-sm-6 sidebar_section">
								<div class="sidebar_subtitle brands_subtitle">Thương hiệu</div>
								<ul class="brands_list sidebar_brands">
									<li th:each="b:${brands}">
										<a th:href="@{|/products-by-brand/page/1?bid=${b.id}|}">[[${b.name}]]</a>
									</li>
								</ul>
							</div>
							<!-- <div class="col-lg-12 col-sm-6 sidebar_section filter_by_section">
								<div class="sidebar_title">Filter By</div>
								<div class="sidebar_subtitle price_subtitle">Price</div>
								<div class="filter_price">
									<div id="slider-range" class="slider_range"></div>
									<p>Range: </p>
									<p><input type="text" id="amount" class="amount" readonly
											style="border:0; font-weight:bold;"></p>
								</div>
							</div>
							<div class="col-lg-12 col-sm-6 sidebar_section">
								<div class="sidebar_subtitle color_subtitle">Color</div>
								<ul class="colors_list">
									<li class="color"><a href="#" style="background: #b19c83;"></a></li>
									<li class="color"><a href="#" style="background: #000000;"></a></li>
									<li class="color"><a href="#" style="background: #999999;"></a></li>
									<li class="color"><a href="#" style="background: #0e8ce4;"></a></li>
									<li class="color"><a href="#" style="background: #df3b3b;"></a></li>
									<li class="color"><a href="#"
											style="background: #ffffff; border: solid 1px #e1e1e1;"></a></li>
								</ul>
							</div> -->
						</div>

					</div>

					<div class="col-lg-9">

						<!-- Shop Content -->

						<div class="shop_content align-items-center">
							<div class="shop_bar clearfix">
								<div class="row" id="main">
									<button class="openbtn" onclick="openNav()">&#9776; Lọc sản phẩm</button>
								</div>
								<div class="shop_product_count m-t-7 d-flex">
									<span th:if="${page.totalElements > 0}" class="m-r-10">[[${page.totalElements}]]</span>
									<span th:if="${page.totalElements == 0}" class="m-r-10">0</span> sản phẩm được tìm thấy
								</div>

								<div class="shop_sorting m-t-7">
									<span>Sắp xếp:</span>
									<ul>
										<li>
											<span class="sorting_text">Mặc định<i
													class="fas fa-chevron-down"></span></i>
											<ul>
												<li class="shop_sorting_button"
													data-isotope-option='{ "sortBy": "original-order" }'>Mặc định
												</li>
												<li class="shop_sorting_button"
													data-isotope-option='{ "sortBy": "name" }'>Tên</li>
												<li class="shop_sorting_button"
													data-isotope-option='{ "sortBy": "price_asc" }'>Giá</li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="flex-w" style="justify-content: flex-end;">
									<div
										class="flex-c-m stext-106 m-r-30 cl6 size-105 bor4 pointer hov-btn3 trans-04 js-show-search">
										<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
										<i
											class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
										Search
									</div>
								</div>
								<!-- Search product -->
								<form th:action="@{/products/page/1}">
									<div class="dis-none panel-search w-full p-t-10 p-b-15">
										<div class="bor8 dis-flex p-l-15">
											<input th:value="${keyword}" class="mtext-107 cl2 size-114 plh2 p-r-15"
												type="text" name="keyword" placeholder="Tìm kiếm">
											<button class="size-113-me flex-c-m fs-16 cl2 hov-cl1 trans-04">
												<i class="zmdi zmdi-search m-r-10"></i>
												Tìm kiếm
											</button>
										</div>
									</div>
								</form>
							</div>

							<div class="product_grid">
								<div class="product_grid_border"></div>

								<!-- Product Item -->
								<div th:each="p : ${page.content}" class="product_item is_new">
									<div class="product_border"></div>
									<div
										class="product_image d-flex flex-column align-items-center justify-content-center">
										<img th:src="@{|/assets/images/${p.mainImage}|}" alt="">
									</div>
									<div class="product_content">
										<div class="product_price">[[${#numbers.formatCurrency(p.price)}]]</div>
										<div class="product_name">
											<div><a th:href="@{|/product/detail/${p.id}|}"
													tabindex="0">[[${p.name}]]</a></div>
										</div>
									</div>
									<div class="product_footer">
										<div class="add-to-cart">
											<button th:attr="ng-click=@{|cartfurniture.add(${p.id})|}">
												<i class="fa-solid fa-cart-plus"></i> <span>Chọn
													mua</span>
											</button>
										</div>
									</div>
									<div class="product_fav"><i class="fas fa-heart"></i></div>
									<ul class="product_marks">
										<li class="product_mark product_discount">-25%</li>
										<li class="product_mark product_new">new</li>
									</ul>
								</div>
							</div>

							<!-- Shop Page Navigation -->

							<div th:if="${page.totalElements > 0}" class="shop_page_nav d-flex flex-row">
								<li class="page_prev d-flex flex-column align-items-center justify-content-center">
									<a th:href="@{'/products/page/1'}">
										<i class="fas fa-chevron-left"></i>
									</a>
									
								</li>
								<ul class="page_nav d-flex flex-row">
									<li th:class="${page.number <= 0 ? 'page-item disabled' : 'page-item'}"
									th:each="i : ${#numbers.sequence(1, page.totalPages)}">
										<a th:if="${keyword != null}" th:href="@{'/products/page/' + ${i}} + '?keyword=' + ${keyword}">[[${i}]]</a>
										<a th:if="${category != null}" th:href="@{'/products-by-category/page/' + ${i}} + '?cid=' + ${category.id}">[[${i}]]</a>
										<a th:if="${brand != null}" th:href="@{'/products-by-brand/page/' + ${i}} + '?bid=' + ${brand.id}">[[${i}]]</a>
									</li>
								</ul>
								<li class="page_next d-flex flex-column align-items-center justify-content-center">
									<a th:href="@{'/products/page/' + ${page.totalPages}}">
										<i class="fas fa-chevron-right"></i>
									</a>
								</li>
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>