<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main th:object="${remote}">
        <div class="single-checkout">
            <div class="container">
                <div class="wrapper">
                    <div class="checkout row">
                        <div class="col-lg-7 p-lr-40">
                            <div class="item left styled">
                                <h1>Thông tin vận chuyển</h1>
                                <form action="">
                                    <div class="form-group">
                                        <label for="email">Tên tài khoản <span></span></label>
                                        <th:block th:if="${#request.remoteUser}">
                                            <div class="form-control" id="username">[[*{username}]]</div>
                                        </th:block>
                                        <th:block th:unless="${#request.remoteUser}">
                                            <input class="form-control" type="username" name="username" id="username"
                                                required>
                                        </th:block>

                                    </div>
                                    <div class="form-group">
                                        <label for="fullname">Họ và tên
                                            <span></span>
                                        </label>
                                        <th:block th:if="${#request.remoteUser}">
                                            <div class="form-control" id="fullname">[[*{fullname}]]</div>
                                        </th:block>
                                        <th:block th:unless="${#request.remoteUser}">
                                            <input class="form-control" type="fullname" name="fullname" id="fullname"
                                                required>
                                        </th:block>
                                    </div>
                                    <div class="form-group">
                                        <label for="fullname">Email
                                            <span></span>
                                        </label>
                                        <th:block th:if="${#request.remoteUser}">
                                            <div class="form-control" id="email">[[*{email}]]</div>
                                        </th:block>
                                        <th:block th:unless="${#request.remoteUser}">
                                            <input class="form-control" type="email" name="email" id="email"
                                                required>
                                        </th:block>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Số điện thoại <span></span></label>
                                        <th:block th:if="${#request.remoteUser}">
                                            <div class="form-control" id="phoneNumber">[[*{phoneNumber}]]</div>
                                        </th:block>
                                        <th:block th:unless="${#request.remoteUser}">
                                            <input class="form-control" type="phoneNumber" name="phoneNumber" id="phoneNumber"
                                                required>
                                        </th:block>
                                    </div>
                                    <div class="form-group">
                                        <label for="address_line_1">Số nhà, Đường <span></span></label>
                                        <input class="form-control" ng-model="order.addressLine1" type="address_line_1"
                                            name="address_line_1" id="address_line_1" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Thành phố / Tỉnh <span></span></label>
                                        <select class="form-control" id="city">
                                            <option value="" selected>Chọn tỉnh thành</option> 
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Quận / Huyện <span></span></label>
                                        <select id="district" class="form-control">
                                            <option value="" selected>Chọn quận huyện</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Phường / Xã <span></span></label>
                                        <select id="ward" class="form-control">
                                            <option value="" selected>Chọn phường xã</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="hamlet">Ấp <span></span></label>
                                        <input class="form-control" ng-model="order.hamlet" type="hamlet" name="hamlet"
                                            id="hamlet" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Ghi chú (Không bắt buộc)</label>
                                        <textarea class="form-control" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="checkset d-flex">
                                        <input type="checkbox" id="an_account">
                                        <label for="an_account">Đăng ký tài khoản?</label>
                                    </div>
                                </form>

                                <div class="shipping-method">
                                    <h2>Phương thức vận chuyển</h2>
                                    <p class="checkset d-flex">
                                        <input type="radio" checked>
                                        <label>30000đ tỉ lệ cố định</label>
                                    </p>
                                </div>

                                <div class="primary-checkout">
                                    <button ng-click="order.purchase()" class="btn-checkout">Đặt hàng</button>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 p-lr-40">
                            <div class="item right">
                                <h2>Đơn hàng</h2>
                                <div class="summary-order is_sticky">
                                    <div class="summary-totals">
                                        <ul>
                                            <li>
                                                <span>Tổng phụ</span>
                                                <span>30000 vnđ</span>
                                            </li>
                                            <li>
                                                <span>Giảm giá</span>
                                                <span>10%</span>
                                            </li>
                                            <li>
                                                <span>Vận chuyển</span>
                                                <span>150000</span>
                                            </li>
                                            <li>
                                                <span>Tổng</span>
                                                <strong>{{cartfurniture.amount | number}} đ</strong>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="products mini">
                                        <li ng-repeat="item in cartfurniture.items" class="item">
                                            <div class="thumbnails object-cover">
                                                <img ng-src="/assets/images/{{item.mainImage}}" alt="">
                                            </div>
                                            <div class="item-content">
                                                <a class="name-checkout" href="#">{{item.name}}</a>
                                                <span class="price">
                                                    <span>{{item.price | number}} </span>
                                                    <span class="qty-checkout"> x {{item.quantity}}</span>
                                                </span>
                                                <span class="amount">
                                                    <span><strong>{{item.quantity * item.price | number}} đ</strong></span>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>