<div class="col-sm-12 form_product">
    <div class="form-group col-12">
        <div class="col-12">
            <label class="">Mô tả ngắn:</label>
            <textarea ng-model="form.shortDesc" id="shortDesc" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="col-12">
            <label class="">Mô tả chi tiết:</label>
            <textarea ng-model="form.longDesc" id="longDesc" cols="30" rows="5"></textarea>
        </div>
    </div>
</div>