<div class="page-wrapper">
    <div class="px-4">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!admin">Home</a></li>
                    <li class="breadcrumb-item active">Authority</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <a href="https://themewagon.com/themes/bootstrap-4-responsive-admin-template/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">Download Now</a>
            </div>
        </div>
        <div class="row">
            <div class="card my-4">
                <div class="card-header bg-primary">
                    <h5 class="text-light fw-bold">AUTHORIZING</h5>
                </div>
                <div class="card-body">
                    <table class="table table-border">
                        <thead class="bg-success" style="font-variant: small-caps;">
                            <tr>
                                <th></th>
                                <th ng-repeat="role in roles" class="text-center">{{role.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                         <form action="" method="post">
                            <tr ng-repeat="acc in admins">
                                <td>{{acc.fullname}}</td>
                                <th ng-repeat="role in roles" class="text-center"> 
                                	<div class="custom-control custom-checkbox">
								          <input type="checkbox" class="custom-control-input" ng-checked="authority_of(acc, role)" ng-click="authority_changed(acc, role)" id="{{role.id}}{{acc.id}}" >
								          <label class="" for="{{role.id}}{{acc.id}}"></label>
								     </div>
                                </th>
                            </tr>
                            </form>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>