<div class="card my-4">
    <div class="card-header bg-primary">
        <h5 class="text-light fw-bold">THÔNG TIN DANH MỤC</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-6">
                        <div>Tên danh mục</div>
                        <input ng-model="form.name" class="form-control">
                    </div>

                    <div class="form-group col-6">
                        <div>Nhóm sản phẩm</div>
                        <input ng-model="form.categoryGroup.id" class="form-control" list="listCategoriesGroup" id="categoryGroup"
                            placeholder="Chọn nhóm sản phẩm">
                        <datalist id="listCategoriesGroup">
                            <option ng-repeat="categoryGroup in listCategoriesGroup" value="{{categoryGroup.id}}">{{categoryGroup.name}}</option>
                        </datalist>
                    </div>
                </div>
                <div class="row">
                    <div class="card-footer text-end text-white bg-white">
                        <button ng-click="create()" class="btn btn-primary">
                            Create
                        </button>
                        <button ng-click="update()" class="btn btn-success">
                            Update
                        </button>
                        <button ng-click="delete(form)" class="btn btn-danger">
                            Delete
                        </button>
                        <button ng-click="reset()" class="btn btn-info">
                            Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>