<div class="card my-4">
    <div class="card-header bg-primary">
        <h5 class="text-light fw-bold">DANH SÁCH DANH MỤC</h5>
    </div>
    <div class="card-body">
        <table class="table table-condensed">
            <thead class="bg-success" style="font-variant: small-caps;">
                <tr>
                    <th>#</th>
                    <th>Tên danh mục</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="item in items | limitTo: pageSize: start">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td class="float-end">
                    <div class="btn-group-xs">
                        <button ng-click="edit(item)" class="btn"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button ng-click="delete(item)" class="btn"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </td>
            </tbody>
        </table>
    </div>

    <div class="card-footer text-center">
        <button ng-click="first();" class="btn">
            Trang đầu
        </button>
        <button ng-click="prev();" class="btn">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="btn">{{pageIndex + 1}} / {{count()}}</button>
        <button ng-click="next();" class="btn">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
        <button ng-click="last();" class="btn">
            Trang cuối
        </button>
    </div>
</div>