<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
	<main>
		<div class="main-login">
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					<div class="signin-image">
						<figure>
							<img th:src="@{/assets/images/background/signin-image.jpg}" alt="sing up image">
						</figure>
						<p>Đã có tài khoản? 
							<span><a href="#" class="link-signup">Đăng nhập ngay</a></span>
						</p>
					</div>

					<div class="signin-form">
						<h2 class="form-title">ĐĂNG KÝ</h2>
						<form th:action="@{/register}" th:object="${account}" method="POST" class="register-form" id="login-form">
							<div class="form-group">
								<label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
								<input type="text" name="username" placeholder="Tên đăng nhập" />
							</div>
							<div class="form-group">
								<label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
								<input type="text" name="email" placeholder="Email" />
							</div>
							<div class="form-group">
								<label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
								<input type="text" name="fullname" placeholder="Họ và tên" />
							</div>
							<div class="form-group">
								<label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
								<input type="text" name="phoneNumber" placeholder="Điện thoại" />
							</div>
							<div class="form-group">
								<label for="your_pass"><i class="zmdi zmdi-lock"></i></label> 
								<input type="password" name="password" placeholder="Mật khẩu" />
							</div>
							<div class="form-group">
								<label for="your_pass"><i class="zmdi zmdi-lock"></i></label> 
								<input type="password"  placeholder="Xác nhận mật khẩu" />
							</div>
							<div th:if="${message != null}" class="d-flex">
								<div class="error-messge" role="alert">[[${message}]]</div>
								<div class="text-primary" role="alert">
									<a href="/">[[${actionLogin}]]</a>
								</div>
							</div>
							<div class="form-group form-button">
								<button class="form-submit">Đăng ký</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

	</div>
	</main>
</body>

</html>