<div class="page-wrapper">
    <div class="px-4 main-content">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Profile</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#!admin">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thông tin của bạn</li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center text-end">
                <a href="https://themewagon.com/themes/bootstrap-4-responsive-admin-template/" class="btn waves-effect waves-light btn-success pull-right hidden-sm-down">Tải file Excel</a>
            </div>
        </div>
        <form>
            <div class="row">
                <input type="hidden" ng-model="form.username">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-block text-center">
                            <div class="upload my-5">
                                <img ng-if="session.photo" width=200 height=200 id="output" alt="your image"
                                        src="/assets/images/{{session.photo}}">
                                <img ng-if="!session.photo" width=200 height=200 id="output" alt="your image"
                                        src="/assets/images/default/avt_default.png">
                                <div class="round">
                                    <input type="file" class="form-control" id="photo"
                                        onchange="angular.element(this).scope().imageChanged(this.files)"> 
                                        <i class="fa-solid fa-camera"></i>
                                </div>
                            </div>
                            <div class="mt-30">
                                <h4 class="card-title m-t-10">{{session.fullname}}</h4>
                                <h6 class="card-subtitle">{{session.email}}</h6>
                                <div class="row text-center justify-content-md-center">
                                    <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                                       <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                                   </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <div class="card-block">
                            <div class="form-horizontal form-material">
                                <input hidden ng-model="session.username">
                                <div class="form-group">
                                    <label class="col-md-12">Họ và tên</label>
                                    <div class="col-md-12">
                                        <input ng-model="session.fullname" type="text" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Mật khẩu</label>
                                    <div class="col-md-12">
                                        <input ng-model="session.password" type="password" class="form-control form-control-line">
                                    </div>
                                    <div class="col-md-12">
                                        <span class="text-secondary small"><i>Nhập vào nếu muốn đổi mật khẩu</i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input ng-model="session.email" type="email" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Số điện thoại</label>
                                    <div class="col-md-12">
                                        <input ng-model="session.phoneNumber" type="email" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button ng-click="update()" class="btn btn-success">Cập nhật thông tin</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>